__pycache__
GaMMA.egg-info
GMMA.egg-info
figures
._.DS_Store
.DS_Store
.ipynb_checkpoints

docs/test_data.zip*
docs/test_data
dist/*
tests/test_data.zip*
tests/test_data
gamma/eikonal.py
gamma/test_eikonal.py
gamma/seismic_ops_np.py
gamma/test.py

up.csv
us.csv
build/
